# .clang-format
BasedOnStyle: LLVM
# BasedOnStyle: Google

Standard: c++17

# Indentation
IndentWidth: 2
TabWidth: 2
UseTab: Never

# Line length
ColumnLimit: 100

# Includes & Macros
SortIncludes: true
IncludeBlocks: Preserve
AlignConsecutiveMacros: true
IndentPPDirectives: BeforeHash

# Namespace
NamespaceIndentation: All
AllowShortNamespacesOnASingleLine: false

# Alignment & Simple One-liners
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
AlignArrayOfStructures: Right
Cpp11BracedListStyle: true

# Enums, Classes & Functions
AllowShortEnumsOnASingleLine: true
BreakConstructorInitializers: BeforeColon
AccessModifierOffset: -2
# AllowShortFunctionsOnASingleLine: Inline
AllowShortFunctionsOnASingleLine: All
AlignAfterOpenBracket: BlockIndent
BreakBeforeBraces: Attach
InsertBraces: false
BinPackParameters: false
BinPackArguments: false
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInSquareBrackets: false

# Pointers & Reference
PointerAlignment: Right
ReferenceAlignment: Left
DerivePointerAlignment: false
SpaceAroundPointerQualifiers: Default

# Comments
ReflowComments: true

# Prevent overly aggressive wrapping
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyReturnTypeOnItsOwnLine: 300
